.loginBackground {
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginPaper {
  background-color: #fff;
  padding: 50px 75px 50px 75px;
  height: 500px;
  width: 600px;
  position: fixed;
}

.loginTextfield {
  width: 100%;
}

.loginHeader {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.loginButtonWrapperRow {
  display: flex;
  gap: 25px;
}