.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 16px;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.calendar {
  grid-column: 1;
}

.paper {
  grid-column: 2;
}

.top-content h1 {
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 30px;
}

.Box {
  display: flex;
  justify-content: center;
  align-items: center;
}