.tutor-schedule-box {
  border-radius: 10px;
  padding: 3rem 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  max-width: 900px;
  min-width: 800px;
  margin: 100px auto 0;
  gap: 1rem;
}

.tutor-schedule-bar {
  margin: 1rem 1rem 1rem 0;
  background-color: transparent;
}

.MuiTextField-root {
  background: #ffffff;
}