.account-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 200px;
    margin-bottom: 200px;
}
.account-header {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}
.account-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

.account-textfield {
    width: 120%
}
.account-sections{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.edit-button{
    width:30%;
}
.done-button{
    width:30%;
}
.account-settings{
    font-size: 20px;
}

