.studentAcc-background {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 64px;
}
.studentAcc-header {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}
.studentAcc-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.studentAcc-textfield {
    width: 120%
}
.studentAcc-sections{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.update-button{
    width:30%;
}
.studentAcc-settings{
    font-size: 20px;
}

